* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro{
  text-align: center;
}
.lists{
  text-align: center;
}
ol, ul{
  list-style-position: inside;
}
.page {
  display: flex;
  flex-wrap: wrap;
}
#navigation{
position:fixed;
width:100%;
height:60px;
background-color:#4394D8;
z-index:1;
}
#navigation a{
font-size:25px;
text-decoration:none;
float:left;
text-align:center;
display:block;
text-decoration:none;
padding:15px 10px;
color:black;
}
#navigation a:hover{
background-color:#366FD9;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  height: 60px;
}

.header {
  background-color: #B2D6FF;
}

.content {
  background-color: #EAEDF0;
  height: 400px;
  flex-direction: column;
}
.intro {

}
.sign-up {
  background-color: #D6E9FE;
}

.feature-1 {
  background-color: #F5CF8E;
}

.feature-2 {
  background-color: #F09A9D;
}

.feature-3 {
  background-color: #C8C6FA;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
  .header {
    height: 100px;
  }
  .sign-up, .feature-1, .feature-2, .feature-3 {
  width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1, .feature-2, .feature-3 {
    width: 33.3%;
  }
  .header {
    height: 100px;
  }
  .sign-up {
  height: 50px;
  order: 1;
  }
  .content {
    order: 2;
  }
}

/* flex site
.menu-container {
  color: #fff;
  background-color: #5995DA;   f
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-between;
}
.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}
.fist-item{
  order: 1;
}
.last-item{
  order: -1;
}
.links {
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}

.login {
  margin-left: 20px;
}
.signup {
  margin-left: auto;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}
.footer-two{
  flex: 2;
}
.footer-one, .footer-three{
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}  */


/* float site
body {
  color: #000000;
  text-align: center;
  background-color: #15C8DD;
  margin: 0px;
}
h1 {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  background-color: #0A6A75;
}
ol, ul {
  text-align: center;
  padding: 10px 20px;
  list-style-position: inside;
}
#navigation{
position:fixed;
width:100%;
height:60px;
background-color:#4394D8;
z-index:1;
}
#navigation a{
font-size:25px;
text-decoration:none;
float:left;
text-align:center;
display:block;
text-decoration:none;
padding:15px 10px;
color:black;
}
#navigation a:hover{
background-color:#366FD9;
}
article {
  background-color: #E289EE;
}
.lists {
  background-color: #0A6A75;
  padding: 5px 10px 5px 10px;
}
.container{
  overflow: hidden;
  background-color: #EAEDF0;
}
.page{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
}
.menu{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100px;
  background-color: #B2D6FF;
}
.sidebar{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  float: left;
  height: 300px;
  width: 200px;
  background-color: #F09A9D;
}
.content{
  float: left;
  width: 650px;
  height: 500px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 500px;
  background-color: #F5CF8E;
}
.footer{
  clear: both;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200px;
  background-color: #D6E9FE;
}*/
