body {
  background-color: #B5BFEB;
  color: #0F1326;
  text-align: center;
  margin: 0;
  min-height: auto;
  margin-bottom: 60px;
}

#form {
  text-align: left;
  font-weight: bolder;
  width: auto;
  height: auto;
  font-size: 40px;
  text-align: center;
  padding-top: 15px;
  color: #0F1326;
}

#dateInput, #dateSubmit {
  border-radius: 10px;
}

#top_bar {
  background-color: #0A102B;
  width: 100%;
  top: 0;
  height: auto;
  text-align: center;
  font-size: 50px;
  overflow: hidden;
  color: #FFFFFF;
}

#dateSubmit, #dateInput{
  font-size: 30px;
}

#results{
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  margin: 15px;
}

#explanation {
  padding-left: 10%;
  padding-right: 10%;
}

img {
  width: 80%;

}

.foot{
  background-color: #0A102B;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

a {
  color: white;
}
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  #dateSubmit, #dateInput{
    margin-bottom: 10px;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  form {
    position: static;
    top: 100px;
    left: 100px;
  }

  #top_bar{
    font-size: 20px;
  }

  label {
    font-size: 25px;
  }

  #dateInput, #dateSubmit {
    font-size: 15px;
  }
}
